.floatcart {
  position: fixed;
  right: 0;
  top: 0;
}

.cart-icon {
  position: relative;
  width: 62px;
  height: 62px;
  background-color: black;
  color: rgb(255, 234, 234);
  background-image: url("./bag-icon.png");
  background-repeat: no-repeat;
  background-size: 42px 42px;
  background-position: center;
  font-size: 24px;
  padding-left: 62px;
  line-height: 62px;

  .cart_total {
    position: absolute;
    font-size: 20px;
    color: goldenrod;
    bottom: -10px;
    right: 5px;
  }
}

.ant-drawer-content {
  background-color: black;
  color: blanchedalmond;
  max-width: 400px;
  font-size: 16px;

  .ant-drawer-header {
    border: none;
    background-color: black;

    .ant-drawer-title {
      text-align: center;
    }
  }

  .ant-list-split .ant-list-item {
    position: relative;
    border: none;

    .cart_avatar {
      height: 100px;

      img {
        height: 100%;
      }
    }

    .closed_cart {
      position: absolute;
      top: -3px;
      font-size: 18px;
      right: 10px;
      cursor: pointer;
    }

    .ant-list-item-meta-content {
      padding-right: 10px;
    }

    .ant-list-item-meta-description {
      color: white;
      font-size: 16px;

      p {
        &:first-child {
          color: gray;
          min-height: 16px;
          max-height: 44px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        margin: 0;
      }
    }

    .ant-list-item-meta-title {
      color: white;

      span {
        font-size: 20px;
      }
    }

    .control {
      p {
        text-align: center;
        font-size: 20px;
        color: goldenrod;
        font-weight: 800px;
        margin: 0;
      }

      .ant-btn-primary {
        background-color: #64686c;
        border-color: #64686c;
      }
    }
  }

  .ant-drawer-body {
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .submit_total {
      h2 {
        color: gray;
      }

      button {
        width: 100%;
        color: white;
        background-color: transparent;
        border: 2px solid gray;
        border-radius: 3px;
        height: 48px;
        outline: none;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }

  .ant-empty-description {
    color: #fff;
  }
}
